<%- include('includes/head'); %>
<body>

  <section class="container">
    <h1>
      <%= titulo %><br>
      <%= umaVariavelLocal %> 
    </h1>
    <form action="/" method="post">
      <label>nome</label>
      <input type="text" name="nome"> <!--Essa chave name='nome' é o req.body.nome do middleware Ex: name = 'cliente' //// req.body.cliente -->
      <button>Submit</button>
    </form>
  </section>

  <script src="./assets/js/bundle.js"></script>
</body>

</html>